.contacto-section {
    padding: 60px 0;
}

.contacto-titulo {
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

.contacto-texto {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
}

.formulario-contacto label {
    font-weight: 600;
    margin-bottom: 4px;
}

.formulario-contacto input,
.formulario-contacto textarea {
    border: 1px solid #ccc;
    padding: 10px;
}

.btn-contacto {
    background-color: #EAB130;
    color: #000;
    padding: 10px 30px;
    font-weight: 600;
    border: none;
}

.btn-contacto:hover {
    background-color: #c89224;
}
.formulario-caja {
    background: #10639D;  /* azul que ya usas */
    border-radius: 10px;         /* opcional – se ve más profesional */
}


.contacto-titulo{
    font-size: 50px;
}
.icono-conta{
    color: #EAB130;
}.texto-conta {
    color: #000000;      /* gris plomo */
    font-weight: 300;    /* letra delgada */
    font-size: 15px;     /* opcional: tamaño más fino */
}
.tengohambre{
    border-left: #10639D 10px solid;
    padding-left: 10px;
    font-size: bold;
}
.retirate{
    margin-top: 100px;
}