.productos-wrapper {
  display: flex;
  gap: 30px;
  padding: 20px 40px;
}

/* ============ SIDEBAR ============ */

.buscador-box label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;

}

.buscador-input {
  display: flex;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.buscador-input input {
  border: none;
  flex: 1;
  padding: 8px;
}

.btn-search {
  width: 40px;
  background: #0d6efd;
  border: none;
  color: white;
}

.categorias-box h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}

.categorias-box ul {
  list-style: none;
  padding-left: 0;
}

.categorias-box li {
  margin-bottom: 8px;
  cursor: pointer;
}

/* ============ PRODUCTOS ============ */

.titulo-pagina {
  font-size: 22px;
  margin-bottom: 20px;
}

.titulo-pagina span {
  font-size: 26px;
  font-weight: bold;
}

.productos-grid {
  flex: 1;
}

.grid {
  display: flex;
  gap: 40px;
}

.product-card {
  width: 300px;
  overflow: hidden;
  background: white;
  border: 1px solid #ffffff;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.info {
  background-color: #F7F7F7;
}
.space{
  padding: 15px;
}
.tag {
  font-size: 12px;
  color: gray;
}

.btn-info {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  background-color: #10639D;
  width: 100%;
  padding: 5px 5px 5px 20px;
}

.buscador-box,.categorias-box  {
  background-color: #ECEFF5;
  padding: 20px;
}
h4{
  color: #10639D;
  font-size: 20px;
}
h3{
  color: #10639D;
  font-weight: 400;
  font-size: 22px;
}
/* tessisi */
.titulo-con-lineaa {
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo-con-lineaa .lineaa {
    flex-grow: 0.07;
    height: 2px;
    background-color: #000000;
    align-self: center; /* <-- muy importante */
}

.titulo-con-lineaa h5 {
    margin: 0;
    font-weight: 600;
}

.subtitulo {
    font-size: 22px;
    font-weight: 600;
}